.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
}
